* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.4;
  background: #FAF0E6;
  /* background: #F0F0F0; */
  color: #36454F;
  margin: 1%;
  overflow-x: hidden; /* for footer placement */
}
body, html {
  /* height: 99%; */
}
.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1%;
  /* height: 99%; */
}
.display {
  border: 3px #aaa solid;
  /* background: #F0F0F0;
  background: #FAF0E6; */
  padding: 1%;
}
.footer {
  position: relative;
  left: 85%; /* hidden overflow-x */
  font-size: 14px;
}
.edit {
  position: relative;
  left: 90%;
}
